<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <!-- 配置Bean -->
    <bean id="demoService1" class="com.dubbo.service.impl.DemoService_v1"/>
    <bean id="demoService2" class="com.dubbo.service.impl.DemoService_v2"/>
    <!-- 引入配置文件 -->
    <import resource="classpath:/config/dubbo.xml"/>
 </beans>